/* Schoool App Variables and Theming. */

:root{

  /* App specific */
  --app-color-rood: #BA141F;
  --app-color-blauw: #17B1D3;
  --app-color-grijs: #3B3E49;
  --app-color-lichtgrijs: #93979C;
  --app-color-geel: #F6BE2F;
  --app-color-zwart:#000;
  --app-color-wit:#FFF;

  /* Ionic overrides */
  --ion-color-primary: var(--app-color-blauw);
  --ion-toolbar-background: var(--app-color-grijs);
}

.app-color-rood { color: var(--app-color-rood)}
.app-color-blauw { color: var(--app-color-blauw)}
.app-color-grijs { color: var(--app-color-grijs)}
.app-color-lichtgrijs { color: var(--app-color-lichtgrijs)}
.app-color-geel { color: var(--app-color-geel)}
.app-color-zwart {color: var(--app-color-zwart)}
.app-color-wit {color: var(--app-color-wit)}

.app-background-color-rood { background-color: var(--app-color-rood)}
.app-background-color-blauw { background-color: var(--app-color-blauw)}
.app-background-color-grijs { background-color: var(--app-color-grijs)}
.app-background-color-lichtgrijs { background-color: var(--app-color-lichtgrijs)}
.app-background-color-geel { background-color: var(--app-color-geel)}
.app-background-color-zwart {color: var(--app-color-zwart)}
.app-background-color-wit {color: var(--app-color-wit)}

.circle {
  border-radius: 50%;
}

/* Ionic overrides */

ion-title, ion-menu-button {
  color:#FFF;
}

ion-menu-button {
  /*width:50px;*/
}

ion-icon {
  --color: var(--app-color-wit);
}

ion-menu {
  top:44px;
  --width:100%;
}
ion-menu ion-label {
  text-align:center;
}
ion-menu ion-item {
  --padding-start:0;
}
ion-menu ion-item .schoool-icon {
  margin-left:.5rem;
}

ion-card-title {
  --color: var(--app-color-blauw);
}



.schoool-card {
  border:none;
  border-radius: 0;
  box-shadow:none;
  margin:0;
  border-bottom: 1px solid var(--app-color-grijs);
}
